{% extends 'Home/base.html' %}
{% load static %}
{% block body %}

    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Edit Teachers</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'teacher:teacher_list' %}">Teachers</a></li>
                    <li class="breadcrumb-item active">Edit Teachers</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12">
                                <h5 class="form-title"><span>Login Details</span></h5>
                            </div>

                            {{ signup_form.non_field_errors }}

                            {% for field in signup_form %}
                                {% if field.name != 'first_name' and field.name != 'last_name' %}
                                    <div class="col-12 col-sm-4">
                                        <div class="form-group local-forms">
                                            <label for="{{ field.id_for_label }}">
                                                {{ field.label }}
                                                <span class="login-danger">*</span>
                                            </label>
                                            {{ field }}
                                            {% if field.errors %}
                                                <ul class="text-danger">
                                                    {% for error in field.errors %}
                                                        <li>{{ error }}</li>
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}

                            {% for field in reset_password_form %}
                                <div class="col-12 col-sm-4">
                                    <div class="form-group local-forms">
                                        <label for="{{ field.id_for_label }}">
                                            {{ field.label }}
                                            <span class="login-danger">*</span>
                                        </label>
                                        {{ field }}
                                        {% if field.errors %}
                                            <ul class="text-danger">
                                                {% for error in field.errors %}
                                                    <li>{{ error }}</li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}

                            <div class="col-12">
                                <h5 class="form-title"><span>Basic Details</span></h5>
                            </div>

                            {{ form.non_field_errors }}

                            {% for field in signup_form %}
                                {% if field.name == 'first_name' or field.name == 'last_name' %}
                                    <div class="col-12 col-sm-4">
                                        <div class="form-group local-forms">
                                            <label for="{{ field.id_for_label }}">
                                                {{ field.label }}
                                                <span class="login-danger">*</span>
                                            </label>
                                            {{ field }}
                                            {% if field.errors %}
                                                <ul class="text-danger">
                                                    {% for error in field.errors %}
                                                        <li>{{ error }}</li>
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}



                            {% for field in teacher_form %}
                                <div class="col-12 col-sm-4">
                                    <div class="form-group local-forms">
                                        <label for="{{ field.id_for_label }}">
                                            {{ field.label }}
                                            <span class="login-danger">*</span>
                                        </label>
                                        {{ field }}

                                        {% if field.errors %}
                                            <ul class="text-danger">
                                                {% for error in field.errors %}
                                                    <li>{{ error }}</li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}

                            <div class="col-12">
                                <h5 class="form-title"><span>Address</span></h5>
                            </div>

                            {{ address_form.non_field_errors }}

                            {% for field in address_form %}

                                {% if field.name == 'address' %}
                                    <div class="col-12">
                                        <div class="form-group local-forms">
                                            <label for="{{ field.id_for_label }}">
                                                {{ field.label }}
                                                <span class="login-danger">*</span>
                                            </label>
                                            {{ field }}
                                            {% if field.errors %}
                                                <ul class="text-danger">
                                                    {% for error in field.errors %}
                                                        <li>{{ error }}</li>
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="col-12 col-sm-4">
                                        <div class="form-group local-forms">
                                            <label for="{{ field.id_for_label }}">
                                                {{ field.label }}
                                                <span class="login-danger">*</span>
                                            </label>
                                            {{ field }}
                                            {% if field.errors %}
                                                <ul class="text-danger">
                                                    {% for error in field.errors %}
                                                        <li>{{ error }}</li>
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endif %}

                            {% endfor %}

                            <div class="col-12">
                                <div class="student-submit">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock body %}