{% extends 'home/base.html' %}
{% load static %}
{% block body %}

    <!-- Page Header -->
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Add Section</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'class:section_list' %}">Section</a></li>
                    <li class="breadcrumb-item active">Sections</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /Page Header -->

    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12">
                                <h5 class="form-title"><span>Section Information</span></h5>
                            </div>

                            {{ form.non_field_errors }}

                            {% for field in form %}
                                <div class="col-12 col-sm-4">
                                    <div class="form-group local-forms">
                                        <label for="{{ field.id_for_label }}">
                                            {{ field.label }}
                                            <span class="login-danger">*</span>
                                        </label>
                                        {{ field }}
                                        {% if field.errors %}
                                            <ul class="text-danger">
                                                {% for error in field.errors %}
                                                    <li>{{ error }}</li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}


                            <div class="col-12">
                                <div class="student-submit">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


{% endblock body %}